
@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MiIngresoHitss.Models.Venta>

<h2>Ventas</h2>
@if (Model != null)
{
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>fecha de la compra</th>
                <th>Subtotal</th>
                <th>IVA</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DiaVenta</td>
                    <td><span>$</span>@item.Subtotal</td>
                    <td><span>$</span>@item.Iva</td>
                    <td><span>$</span>@item.Total</td>
                </tr>
            }
        </tbody>
    </table>
}

