@model IEnumerable<MiIngresoHitss.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario</h2>

<p>
    @Html.ActionLink("Agregar Producto", "Create")
</p>
<table class="table table-curved">
    <tr>
        <th class="info bold-italic col-md-3" scope="row">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th class="info bold-italic col-md-3" scope="row">
            @Html.DisplayNameFor(model => model.Descripciòn)
        </th>
        <th class="info bold-italic col-md-3" scope="row">
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th class="info bold-italic col-md-3" scope="row">
         Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripciòn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
